altair==4.1.0
annotated-types==0.7.0
anyio==3.7.1
asgiref==3.8.1
astor==0.8.1
attrs==24.2.0
base58==2.1.1
beautifulsoup4==4.10.0
blinker==1.8.2
cachetools==5.5.0
certifi==2021.10.8
charset-normalizer==2.0.7
click==7.1.2
ebaysdk==2.2.0
entrypoints==0.4
exceptiongroup==1.2.2
fastapi==0.103.1
gitdb==4.0.11
GitPython==3.1.43
h11==0.14.0
idna==3.3
importlib-metadata==8.5.0
jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
lxml==5.3.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
nest-asyncio==1.5.1
numpy==2.0.2
packaging==24.1
pandas==2.2.3
pillow==10.4.0
protobuf==3.20.3
pyarrow==17.0.0
pydantic==2.3.0
pydantic-core==2.6.3
pydeck==0.9.1
pygments==2.18.0
Pympler==1.1
pyshorteners==1.0.1
python-dateutil==2.9.0.post0
pywin32==306
referencing==0.35.1
requests==2.32.3
rich==13.9.1
rpds-py==0.20.0
semver==3.0.2
six==1.16.0
smmap==5.0.1
sniffio==1.2.0
soupsieve==2.2.1
starlette==0.27.0
streamlit==1.38.0
tabulate==0.8.9
tenacity==8.5.0
toml==0.10.2
toolz==0.12.1
tornado==6.4.1
typing-extensions==4.7.1
tzdata==2024.2
tzlocal==5.2
urllib3==1.26.7
uvicorn==0.15.0
validators==0.34.0
watchdog==4.0.2
zipp==3.20.2